.container{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                    "1fr 1fr 1fr 1fr 1fr" 33.33vh
                    "1fr 1fr 1fr 1fr 1fr" 33.3vh;
    grid-gap: 5px;            
}

.container .box{
    position: relative;
}

.container .box img{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out ;
    border-radius: 5px;

}

.container .box:hover img{
    transform: scale(1.1);
    z-index: 101;
}

.container .box.c{
    grid-column: span 3;

}

.container .box.d{
    grid-column: span 2;
    grid-row: span 2;
}    

@media screen and (max-width: 991px){
.container{
    grid-template: "1fr 1fr 1fr 1fr 1fr" 250px
                    "1fr 1fr 1fr 1fr 1fr" 250px
                    "1fr 1fr 1fr 1fr 1fr" 250px;
}
    
}

@media screen and (max-width: 700px){
    .container{
        grid-template: "1fr 1fr" 250px
                        "1fr 1fr" 250px
                        "1fr 1fr" 250px;
    }
        
    }